body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #0d1117;
  color: #e6edf3;
  height: 100vh;
  display: flex;
  flex-direction: row;
}


.sidebar {
  width: 300px;
  background: #161b22;
  border-right: 1px solid #30363d;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-header {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #30363d;
}

.contact-list {
  flex: 1;
  overflow-y: auto;
}

.contact {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  border-bottom: 1px solid #21262d;
  cursor: pointer;
  transition: background 0.2s;
}

.contact:hover {
  background: #21262d;
}

.contact .avatar {
  background: #238636;
  color: #fff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}

.contact .name {
  font-size: 16px;
  color: #e6edf3;
  font-weight: 500;
  text-decoration: none;
}

.contact:hover .name {
  color: #60a5fa;
}

.chat-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8b949e;
}

.chat-preview h2 {
  font-weight: normal;
  color: #c9d1d9;
}

.chat-preview p {
  margin-top: 8px;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border-radius: 8px;
}
