# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Django ----
db.sqlite3
*.sqlite3
staticfiles/
staticfiles/** 
media/

# ---- Environments ----
.env
.venv/
venv/
env/

# ---- Editors/OS ----
.vscode/
.idea/
.DS_Store
Thumbs.db
